@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
h1{
  margin-left: 5%;
  color: blue;
  align-items: center;
  font-size: 50px;
}

.navbar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.group {
  display: block;
  color: navy;
  font-weight: 500;
  font-size: 16;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: navy;
  color: white;
}

.feed {
  display: block;
  color: darkslategrey;
  font-weight: 400;
  font-size: 12;
  padding: 8px 16px;
  text-decoration: none;
}

.article-container {
  margin-left: 350px;
  padding: 10px 16px;
  height: 1000px;
}

.new-feed{
  display: flex;
  justify-content: center;
}
